*{
    margin: 0;
    font-family: Alike;
    font-weight: 100;
}

.mainContainer{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #e6e6e7;
    display: flex;
}

.container{
    margin: auto;
    width: 85%;
    height: 85%;
    text-align: center;
    background-color: white;
    display: flex;
    border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}


.left-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    box-sizing: content-box;


}

.left-container *{
  margin: auto;
  text-align: left;
}

.left-container h2{
    margin-top: 15%;
    text-align: left;
    font-size: 3em;
    flex: 0 1 auto;
    min-width: 0;
    padding-bottom: 5%;

}

.left-container p{
    font-size: 1em;
    font-style: bold;
    min-width: 0;
}

.form{

    height: 10%;
    size: 3em;
    flex: 1 1 auto;
    min-width: 0;
    width: 50%;
    font-size: 1.4em;
    box-sizing: content-box;
    margin-bottom: 20px;

}


.form-element{
    width: 38%;
    transform: scale(1.3);
    padding: 30px;
    box-sizing: content-box;

    position: relative;
    left: -23%;
}


.checkbox-box{
    box-sizing: content-box;
    padding: 10px;
    display: flex;
}

.form-element-checkbox{
    display: inline-block;
    padding-left: 10px;
}

.checkbox-box a{
    display: inline;
    float: right;
    padding-right: 10px;
}



.sign-in{
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px;

}
[type="email"],[type="password"]{
    width: 200%;
}

[type="submit"]{
    width: 100%;
    text-align: center;
    border-radius: 20px;
	border: 1px solid #68B4BD;
	background-color: #68B4BD;
	color: #FFFFFF;
    letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
    padding: 12px 45px;
}

[type="submit"] + [type="submit"] {
    margin-top: 15px;
    border: 1px solid #487C82;
	background-color: #487C82;
}



.right-container{
    width: 50%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;
    flex: 1 1 0;
    min-width: 0;
}


img{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.right-container-text{
    position: absolute;
    width: 40%;
    margin-left: 1%;
    top: 72%;
    padding: 2px;
    backdrop-filter: blur(5px);
    background: #ffffff4d;
    color: white;
}

.right-container p{
    font-size: 1.3em;
}

.info{
    box-sizing: content-box;
    height: 100%;
    display: inline;
    box-sizing: content-box;
    float: right;
}

.stars{
    display: inline;
    box-sizing: content-box;
    float: right;
}